
/* 给html添加高度，防止height的百分比属性失效 */
html,body{
    width:100%; 
    height:100%;
    margin: 0px;
    padding: 0px;
}

#bar{
    width: 1%;
    height: 100%;
    position: absolute;
    left: 0%;
    /* animation: openScene 1.5s ease 0s 1; */
    z-index: 2;
}

#rightBar{
    width: 0%;
    position: absolute;
    left: 100%;
    z-index: 2;
    transition:all 0.6s;
    background-color: black;
}

#topLabel{
    position: fixed;
    top: 0px;
    font-weight: bold;
    width: 100%;
    z-index: 1;
    transition:all 0.6s;
}

#rightCaption{
    float: right;
    margin: 2.5% 5.5% 0% 0%;
    z-index: 3;
    cursor: pointer;
    transition: all 0.6s;
}

#leftCaption{
    float: left;
    margin: 2.5% 0% 0% 5%;
    z-index: 2;
    cursor: pointer;
    transition: all 0.6s;
}

/* 字体变色 */
.blackChangeColorWords{
    animation: blackcolorchange 4s;
    animation-iteration-count: infinite;/*字体色循环*/
    animation-direction:alternate;      /*字体色来回变*/
    animation-timing-function:linear;   /*过程匀速*/
}
@keyframes blackcolorchange{
    0%{color:rgb(0,0,0) }
    25%{color:rgb(63,75,212) }
    50%{color:rgb(74,222,246)}
    75%{color:rgb(194,82,235) }
    100%{color:rgb(246,149,74)}
}

.whiteChangeColorWords{
    animation: whitecolorchange 4s;
    animation-iteration-count: infinite;/*字体色循环*/
    animation-direction:alternate;      /*字体色来回变*/
    animation-timing-function:linear;   /*过程匀速*/
}
@keyframes whitecolorchange{
    0%{color:rgb(255,255,255) }
    25%{color:rgb(247,184,82) }
    50%{color:rgb(199,224,85)}
    75%{color:rgb(82,247,175) }
    100%{color:rgb(78,121,237)}
}

#arrow{
    float: left;
    height: 14px;
    width: 14px;
    border-width:0px 0px 4px 4px;
    border-style: solid;
    border-radius: 4px;
    margin: 1px 0px 0px 5px;
    transform: rotate(45deg);
    transition: all 0.6s;
}

#container{
    padding: 2% 0% 5% 0%;
    width: 100%;
    text-align: justify;
    transition:all 0.6s;
}

#tittle{
    font-size: 25px;
    font-weight: bold;
    padding: 0 17px;
}

#essay{
    max-width: 740px;
    margin: 0 auto;
    font-size: 18px;
}

#essay>div{
    margin-top: 24px;
}

.pDiv{
    padding: 0 17px;
    margin-bottom: -10px;
}

.pDiv>p{
    display: inline;
}

.imgDiv{
    text-align: center;
    
}

.imgDiv>img{
    border-radius: 10px;
    max-width: 650px;
}

.paraDiv{
    padding: 0 17px;
}

/* 开场淡入 */
@keyframes openScene {
    0% {
        width: 1%;
        left: 0%;
    }
    50%{
        width: 100%;
        left: 0%;
    }
    100% {
        width: 0%;
        left: 100%;
    }
}

/* about页面切换专用 */
@keyframes openScene2 {
    0% {
        width: 1%;
        left: 0%;
    }
    75% {
        width: 100%;
        left: 0%;
    }
    100% {
        width: 100%;
        left: 0%;
    }
}

/* 淡出 */
@keyframes endScene {
    0% {
        width: 1%;
        left: 99%;
    }
    75% {
        width: 100%;
        left: 0%;
    }
    100% {
        width: 100%;
        left: 0%;
    }
}